{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Testing page</h1>
    <p>test: </p>
    {% popularposts %}
<!--    <p>{{post.title}}</p>-->
    <!-- <p>{{name}}</p>
    <p>{{family_name}}</p>
    <p>{{age}}</p> -->
    <!-- {{posts}}
    {% for post in posts %}

    {% if post.status == 0 %}
     <p> not published yet </p>

    {% else %}
    <h1>{{post.title}}</h1>
    <p>{{post.conttent}}</p>
    <small>{{post.published_date}}</small>
    {% endif %}
    {% endfor %} -->
</body>
</html>